body{
    background-image: url("Background mall.jpg");
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: fit-content;
    background-attachment: fixed;
    background-position: center;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    background: #D3D3D3;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#logo{
    background-color: rgb(5, 0, 66);
    background-image: linear-gradient(to top, aqua 0%, rgb(1, 1, 104));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.fa-gem{
    margin-right: 0.5rem;
}

.navbar-menulist{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.itemlist{
    height: 80px;
}

.link{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
}

.register-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    width: 100%;
}

.register{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: rgb(5, 0, 66);
    color:white; 
}

.register:hover {
    background: aqua;
    color: black;
    transition: all o.3s ease;
}

.link:hover{
    color: aqua;
    transition: all 0.3s ease;
}

.banner{
    background-image: url("Banner mall.jpg");
    background-size: cover;
    background-position: center center;
    height: 75vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 75vh;
    width: 100%;
    background: #202A44;
    opacity: .6;
    z-index: 10;;
}

.register-button-mid{
    text-align: center;
    width: 25%;
    z-index: 25;
}

.banner .register-button-mid .register-mid{
    padding-top: 8%;
    font-size: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: rgb(255, 255, 255);
    color:#202A44; 
    outline: rgb(0, 0, 0);
}

/* Event */

.event{
    margin: 75px 10px 5px 10px;
}

.event-title{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    font-family: 'Italiana', serif;
}

.event-title .title-1{
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 48px;
}

.line-1{
    background-color: black;
    width: 60%;
    height: 1px;
}

.event-container{
    position: relative;
    width: 1450px;
    height: 500px;
    margin: 15px auto;
}

.event-container .box1{
    width: 300px;
    height: 300px;
    background-image: url("Event 1 - Concert.jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

.event-container .box2{
    width: 300px;
    height: 300px;
    background-image: url("Event 2 - Competition.jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

.event-container .box3{
    width: 300px;
    height: 300px;
    background-image: url("Event 3 - Marathon.jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

.event-container .box4{
    width: 300px;
    height: 300px;
    background-image: url("Event 4 - Fashion Show.jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

/* Promo */

.promo{
    margin: 10px 10px;
}

.promo-title{
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.promo-title .title-2{
    text-align: center;
    font-family: 'Italiana', serif;
    font-size: 48px;
}

.line-1{
    background-color: black;
    width: 60%;
    height: 1px;
}

.promo-container{
    position: relative;
    width: 1450px;
    height: 500px;
    margin: 15px auto;
}

.promo-container .box-1{
    width: 300px;
    height: 300px;
    background-image: url("Promo 1 - H&M (edited).jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

.promo-container .box-2{
    width: 300px;
    height: 300px;
    background-image: url("Promo 2 - Matahari (edited).jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

.promo-container .box-3{
    width: 300px;
    height: 300px;
    background-image: url("Promo 4 - Matahari (edited).jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

.promo-container .box-4{
    width: 300px;
    height: 300px;
    background-image: url("Promo 3- Levi's (edited).jpg");
    background-size: cover;
    border: 1px solid;
    float: right;
    margin: 15px 30px;
}

/* Footer */

.footer{
    background-color:rgb(5, 0, 66);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contain{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-self: center;
    padding-left: 150px;
}

.footer-section{
    display: flex;
}

#logo-footer{
    margin: 20px 100px 20px 20px;
    background-color: rgb(5, 0, 66);
    background-image: linear-gradient(to top, aqua 0%, rgb(1, 1, 104));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer-item{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.address h2{
    color: rgba(255, 255, 255, 0.6);;
}

.address{
    color: rgba(255, 255, 255, 0.6);;
    margin-bottom: 1rem;
}

.contact h2{
    color: rgba(255, 255, 255, 0.6);;
}

.contact{
    color: rgba(255, 255, 255, 0.6);;
    margin-bottom: 1rem;
}

.footer-link a{
    margin: 0px 50px 0px 50px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 1rem;
}

.footer-link a:hover{
    color: aqua;
    transition: 0.3s ease-out;
}

.social-media h2{
    color: rgba(255, 255, 255, 0.6);
}

